<div class="container">
    <div class="card text-center">
        <form >
            <label>Item name</label>
            <input type="text" class="form-control">
            <label>Item description</label>
            <input type="text" class="form-control">
            <label>Item price</label>
            <input type="number" class="form-control">
            <div class="toggle-switch" (click)="toggleButton()" [ngClass]="{ 'on': isToggled, 'off': !isToggled }">
                <div class="slider"></div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Add</button>
        </form>
    </div>
</div>