<div class="container">
    <div class="card text-center">
    <form>
        <div>
            <label>Username</label>
            <input type="text" class="form-control">
            <label>Email</label>
            <input type="email" class="form-control">
            <label>Password</label>
            <input type="password" class="form-control">
            <button class="btn btn-primary mt-2" type="submit">Register</button>
        </div>
        <div>
            <a routerLink="/login">already have an account ,login</a>
        </div>
    </form>
</div>
</div>