.card{
    width: 400px;
    margin: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 200px;
    margin: auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}